<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>
<body>
    
    <div style="text-align: center; background-color: #e197eb;height: 150px;">
        <h1 style="font-size: 60px;font-family: 'Times New Roman', Times, serif;">Sequence Prediction Model</h1>
    </div>
    
    <br>
    <div class="container">
        <form action="/" method="POST">
            <div class="form-group">
              <input type="text" class="form-control" name="inp" placeholder="Enter Sequence">
            </div>
            <button type="submit" class="btn btn-primary">Predict</button>
        </form>
        <br><br><br>
        <div class="prediction" style="text-align: center;font-family: 'Times New Roman', Times, serif;">
            <h1 style="font-size: 50px">Prediction</h1>
            <div style="font-size: 40px" >
                {{data}}
            </div>
        </div>
        
    </div>
    
    
</body>
</html>